/*for my links*/

.social:visited {
    color: #191818;
}


/* visited link */

.social:hover {
    color: #1F8DD6;
}


/* mouse over link */

.social:active {
    color: #191818;
}


/* selected link */

.social {
    color: #191818;
}

.bonus>a {
    color: #191818 !important;
}

.bonus:hover {}


/* selected link */

.job-container {
    margin: 0;
    padding: 0;
}

.job-container>h3 {
    margin: 0;
    padding: 0;
    font-weight: 530;
    font-size: 1.2rem;
}

.job-container>h4 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1rem;
}

.contact {
    /*background-color: #cccccc;*/
}


/*footer*/

footer {
    padding: 0 0 0 1rem;
    text-align: center;
}


/*project card*/

.project-card {
    display: inline-block;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .20);
    margin: auto;
    position: relative;
    transition: all .2s ease-in-out;
    padding: 2rem;
    text-decoration: none;
}

.project-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.project-card>h3 {
    font-weight: 530;
    font-size: 1.3rem;
    color: #777777;
}

.project-card>p {
    color: #777777;
}