/*Text*/
.title
{
    font-size: 7.0rem;

    margin-top: 2rem;
    margin-bottom: 7rem;

    text-align: center;
}

a
{
    transition: .3s;

    color: #4a4acd;
}

.hidden
{
    color: #fff;
}

/* navigation */
.navbar
{
    display: inline-block;
    overflow: hidden;

    width: 100%;
    margin: 0;
    margin-top: -7rem;
    padding: 0;

    list-style: none;
}

.navbar li
{
    display: inline-block;

    text-decoration: none;
}

.navbar li a
{
    font-size: 4.0rem;

    padding: 4rem 2rem;

    text-align: center;
    text-decoration: none;
}

.sidebar
{
    width: 20rem;
    height: 100%;

    background-image: url('/img/IMG_2246.JPG');
}

/*background*/
body
{
    background-color: #000;
}
.parallax
{
    /*Set a specific height*/
    height: auto!important;
    padding: 100% 0 0;
    /*The image used*/

    background-image: url('/img/SteveH.jpg');
    /*background-position: center;*/
    background-repeat: no-repeat;
    /*Create the parallax scrolling effect*/
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
}

/* positioning */
.center-container
{
    position: relative;
    left: 50%;

    float: left;
}
.fixer-container
{
    position: relative;
    left: -50%;

    float: left;
}

.container
{
    position: relative;
    z-index: 1;

    overflow: auto;

    margin-left: 20rem;
}

/*mobile first? probably now, decide later*/

/* Larger than mobile screen */
@media (min-width: 40.0rem)
{
}

/* Larger than tablet screen */
@media (min-width: 80.0rem)
{
}

/* Larger than desktop screen */
@media (min-width: 120.0rem)
{
}
