text-black = #191818
text-gray = #777
background-gray = #ddd

green-main = #378B2E	// Main green color */
green-lighter = #92D18B
green-light = #5FAE57
green-dark = #1A6811
green-darker = #074600

aqua-main = #236863	// Main Secondary color (1) */
aqua-lighter = #689D99
aqua-light = #41837E
aqua-dark = #0D4E4A
aqua-darker = #003430

lime-main = #7E9F35	// Main Secondary color (2) */
lime-lighter = #D6EF9F
lime-light = #A8C764
lime-dark = #597814
lime-darker = #375000