text-black = #222
text-gray = #777
text-white = #eee
background-gray = #ddd

blue-lighter = #E9F6F9
blue-light = #C2E7F2
blue-main = #9CD4E8
blue-dark = #619799
blue-darker = #477E80

green-main = #378B2E	// Main green color */
green-lighter = #92D18B
green-light = #5FAE57
green-dark = #1A6811
green-darker = #074600

aqua-main = #236863	// Main Secondary color (1) */
aqua-lighter = #689D99
aqua-light = #41837E
aqua-dark = #0D4E4A
aqua-darker = #003430

red-main = #fc4a1a

