doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content="Jim's personal website.")
		title Jim's Personal Site
		link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/pure-min.css', integrity='sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD', crossorigin='anonymous')
		link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css')
		link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/base-min.css')
		link(rel='stylesheet', href='css/font-awesome.min.css')
		link(rel='stylesheet', href='css/stylesheet.css')
	body
		#layout
			#main
				.header
					h1
						a(href='#Top') Jim Zhu
					.title
						h2 3A Computer Engineering Student
						h2.dash -
						h2 University of Waterloo

					ul.pure-g#Menu
						.pure-u-lg-1-3.pure-u-1-12
						li.pure-u-lg-1-12.pure-u-5-24
							a(href='#Work') Work
						li.pure-u-lg-1-12.pure-u-5-24
							a(href='#Projects') Projects
						li.pure-u-lg-1-12.pure-u-5-24
							a(href='#About') About
						li.pure-u-lg-1-12.pure-u-5-24
							a(href='#Contact') Contact
						.pure-u-lg-1-3.pure-u-1-12
							
				.content#Top
					.work-section#Work
						h2 Work Experience
						.job-container
							h3 Hubdoc - Software Developer
							h4
								i Sept. 2017 - Dec. 2017 | Toronto, Ontario
							ul
								li Worked on 100+ document fetching scripts in Node.js, Phantom.js, and Nightmare.js, increasing the fleet’s overall reliability from 59% to 83%
								li Developed an analytics dashboard using Backbone.js, C3, Express, and PostgreSQL, providing insightful metrics and data visualizations for the company’s business and development team
						.job-container
							h3 SAP - Software Application Developer
							h4
								i Jan. 2017 - Apr. 2017 | Toronto, Ontario
							ul
								li Constructed robust IoT demo boards for SAP’s new Leonardo Edge Services, presented at SAP’s DKom and the Hannover-Messe industrial fair for over a hundred thousand viewers
								li Created a custom Java tool to analyze and debug OData servers
						.job-container
							h3 MHS - Software Developer
							h4
								i May 2016 - Aug. 2016 | Toronto, Ontario
							ul
								li
									| Optimized database accesses between C# and SQL Server for the company’s assessment scoring algorithm, improving maintainability and increasing speed by factors of thousands
								li
									| Built an internal peer nomination and metrics app from scratch using Cordova and Firebase, giving employees and managers additional insight to performance based success and wellness indicators
					.projects-section#Projects
						h2 Projects
						a.project-card(target="_blank", href='https://github.com/JimJZhu/HackTheSix')
							h3 Investormate
							p A personal investment assistant.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(target="_blank", href='https://github.com/JimJZhu/OsuDataAggregator')
							h3 Osu Data Aggregator
							p A python web crawler that scrapes osu player data.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(target="_blank", href='https://github.com/JimJZhu/Personal-Site')
							h3 This Website :)
							p My personal website built on top of Pure.css using pug and stylus.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(target="_blank", href='https://github.com/JimJZhu/QuickGrapherExtension')
							h3 Quick Grapher Extension
							p A simple graphing tool for chrome.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(target="_blank", href='https://github.com/JimJZhu/Kanban')
							h3 Kanban Task Manager
							p A Kanban style personal task manager.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(target="_blank", href='https://github.com/JimJZhu/J-OSU')
							h3 J-OSU
							p A Java port of my favourite rhythm game. Reads standard .osk files.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card.secret(href='/bonus.html')
							h3 Development Section
							p
							.project-card-overlay.fa.fa-star-o
					.about-section#About
						h2 About Me
						.about-container
							img(src="/assets/me.jpg")
							p 
								| I am a 3rd year Computer Engineering student at the University of Waterloo with a deep interest in automation and artificial intelligence.
								| During my free time, I enjoy tinkering with hardware and coding up tools to automate my own life. 
								| Some of my other hobbies include fishing, cycling, weight-lifting, basketball, and curling.
								| I also play a lot of Monster Hunter and various rhythm games, like 
								a(target="_blank", href="https://osu.ppy.sh/u/2594079") this one. 
					.contact-section#Contact
						h2 Contact Me
						.contact-container
							form(method='POST', action='http://formspree.io/jim.jiaming.zhu@gmail.com')
								input(type='email', name='email', placeholder='Your email')
								input(type='text', name='name', placeholder='Your name')
								textarea(name='message', placeholder='Your message')
								button(type='submit') Send
						br
						.pure-g
							.pure-u-lg-1-3.pure-u-1-12
							.pure-u-lg-1-12.pure-u-5-24
								a.social(target="_blank", href='https://github.com/JimJZhu')
									i.fa.fa-github.fa-2x
							.pure-u-lg-1-12.pure-u-5-24
								a.social(target="_blank", href='https://www.linkedin.com/in/jim-zhu-a881b6128')
									i.fa.fa-linkedin.fa-2x
							.pure-u-lg-1-12.pure-u-5-24
								a.social(target="_blank", href='http://steamcommunity.com/profiles/76561198044263537')
									i.fa.fa-steam.fa-2x
							.pure-u-lg-1-12.pure-u-5-24
								a.social(href='mailto:jim.jiaming.zhu@gmail.com')
									i.fa.fa-envelope.fa-2x
							.pure-u-lg-1-3.pure-u-1-12
				footer
					p © Jim Zhu 2018 
						i.fa.fa-smile-o
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='../js/ui.min.js')
		script(src='../js/app.min.js')
		
