doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content="Jim's personal website.")
		title Jim's Personal Site
		link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/pure-min.css', integrity='sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD', crossorigin='anonymous')
		link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css')
		link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/base-min.css')
		link(rel='stylesheet', href='css/font-awesome.min.css')
		link(rel='stylesheet', href='css/stylesheet.css')
	body
		#layout
			// Menu toggle
			a#menuLink.menu-link(href='#menu')
				// Hamburger icon
				span
			#menu
				.pure-menu
					a.pure-menu-heading(href='#') Jim
					ul.pure-menu-list
						li.pure-menu-item
							a.pure-menu-link(href='#Work') Work Experience
						li.pure-menu-item
							a.pure-menu-link(href='#Projects') Projects
						li.pure-menu-item
							a.pure-menu-link(href='#About') About Me
						li.pure-menu-item
							a.pure-menu-link(href='assets/Resume.pdf') Resume
						li.pure-menu-item
							a.pure-menu-link(href='#Contact') Contact
						li.pure-menu-item.bonus
							a.pure-menu-link(href='bonus.html') Bonus Section
			#main
				.fab
					a(href="#header").fa.fa-arrow-up.fa-3x
				.header#header
					h1 Jim Zhu
					h2 Computer Engineering Student - University of Waterloo
					.pure-g
						.pure-u-lg-1-3.pure-u-1-12
						.pure-u-lg-1-12.pure-u-5-24
							a.social(href='https://github.com/JimJZhu')
								i.fa.fa-github.fa-2x
						.pure-u-lg-1-12.pure-u-5-24
							a.social(href='https://www.linkedin.com/in/jim-zhu-a881b6128')
								i.fa.fa-linkedin.fa-2x
						.pure-u-lg-1-12.pure-u-5-24
							a.social(href='http://steamcommunity.com/profiles/76561198044263537')
								i.fa.fa-steam.fa-2x
						.pure-u-lg-1-12.pure-u-5-24
							a.social(href='#Contact')
								i.fa.fa-envelope.fa-2x
						.pure-u-lg-1-3.pure-u-1-12
				.content
					.work-section#Work
						h2 Work Experience
						.job-container
							h3 SAP
							h4
								i Software Application Developer - Toronto, Ontario
							ul
								li Created a custom Java tool to analyze and debug OData servers
								li Constructed robust Arduino/Raspberry Pi demo boards to facilitate product demos
								li
									| Demos were successfully presented at the Hannover-Messe industrial fair and SAP d-kom
						.job-container
							h3 MHS
							h4
								i Software Developer
								|  - Toronto, Ontario
							ul
								li
									| Developed RESTful APIs for the scoring and report generation of the MindQ Assessment
								li
									| Built the PINGS mobile app using the Ionic framework, gamifying peer-to-peer recognition
					.projects-section#Projects
						h2 Projects
						a.project-card(href='https://github.com/JimJZhu/OsuDataAggregator')
							h3 Osu Data Aggregator
							p A python web crawler that scrapes osu player data.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(href='https://github.com/JimJZhu/Personal-Site')
							h3 This Website :)
							p My personal website built on top of Pure.css using pug and stylus.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(href='https://github.com/JimJZhu/QuickGrapherExtension')
							h3 Quick Grapher Extension
							p A simple graphing tool for chrome.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(href='https://github.com/JimJZhu/Kanban')
							h3 Kanban Task Manager
							p A Kanban style personal task manager.
							.project-card-overlay.fa.fa-github-alt.fa-3x
						a.project-card(href='https://github.com/JimJZhu/J-OSU')
							h3 J-OSU
							p A Java port of my favourite rhythm game. Reads standard .osk files.
							.project-card-overlay.fa.fa-github-alt.fa-3x
					.about-section#About
						h2 About Me
						.about-container
							img(src="/assets/me.jpg")
							p 
								| I am a 2nd year Computer Engineering student at the University of Waterloo with a deep interest in automation and artificial intelligence.
								| During my free time, I enjoy tinkering with hardware and coding up tools to automate my own life. 
								| Some of my other hobbies include fishing, cycling, weight-lifting, basketball, and curling.
								| I also play a lot of Monster Hunter and various rhythm games, like 
								a(href="https://osu.ppy.sh/u/2594079") this one. 
					.contact-section#Contact
						h2 Contact Me
						p Email: jim.jiaming.zhu@gmail.com
						p Cell: (647) 865-4188
						br
						p Or you can use this convienent form below ;)
						.contact-container
							form(method='POST', action='http://formspree.io/jim.jiaming.zhu@gmail.com')
								input(type='email', name='email', placeholder='Your email')
								input(type='text', name='name', placeholder='Your name')
								textarea(name='message', placeholder='Your message')
								button(type='submit') Send
				footer
					p © Jim Zhu 2017 
						i.fa.fa-smile-o
		script(src='../js/ui.min.js')
